<kirby-page title="Min biløkonomi" defaultBackHref="/" [hideBackButton]="true">
  <kirby-page-content>
    <!--Min biløkonomi-->
    <kirby-item>
      <div slot="outside">
        <div class="flag success"></div>
        <div class="flag warning"></div>
      </div>
      <kirby-avatar overlay="true" slot="start">
        <kirby-icon name="moneybag"></kirby-icon>
      </kirby-avatar>
      <kirby-label>
        <h3>Min biløkonomi</h3>
        <p subtitle>Fars bimmer</p>
        <p subtitle>Søs' dyt</p>
      </kirby-label>
      <data slot="end" class="kirby-text-bold" value="value">7500 kr./md.</data>
    </kirby-item>
    <!--Fars bimmer-->
    <kirby-item>
      <div slot="outside">
        <div class="flag success"></div>
        <div class="flag warning"></div>
      </div>
      <kirby-avatar overlay="true" slot="start">
        <kirby-icon name="attach"></kirby-icon>
      </kirby-avatar>
      <kirby-label>
        <h3>Fars bimmer</h3>
        <p subtitle>XYZ</p>
        <p detail>Forsikring</p>
        <p detail>Brændstof</p>
        <kirby-icon name="arrow-down" size="sm"></kirby-icon>
      </kirby-label>
      <data slot="end" class="kirby-text" value="value">5500 kr./md.</data>
    </kirby-item>
    <!--Søs' dyt-->
    <kirby-item>
      <div slot="outside">
        <div class="flag success"></div>
        <div class="flag warning"></div>
      </div>
      <kirby-avatar overlay="true" slot="start">
        <kirby-icon name="attach"></kirby-icon>
      </kirby-avatar>
      <kirby-label>
        <h3>Søs' dyt</h3>
        <p subtitle>XYZ</p>
        <p detail>Forsikring</p>
        <p detail>Brændstof</p>
        <kirby-icon name="arrow-down" size="sm"></kirby-icon>
      </kirby-label>
      <data slot="end" class="kirby-text" value="value">2000 kr./md.</data>
    </kirby-item>
    <!--Tilføj bil-->
    <kirby-icon name="add" themeColor="primary" size="md"
      >Tilføj bil</kirby-icon
    >
  </kirby-page-content>
</kirby-page>
